<!doctype html>
<html lang="en">
<%- include("./components/head.ejs") %>
<body class="bg-[#001058]">
<%- include("./components/header.ejs",{active:'admin'})%>
<main class="py-4">
    <%- include("./components/orders.ejs",{orders: orders})%>
</main>
<%- include("./components/footer.ejs")%>
<script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
</body>
</html>