<!doctype html>
<html lang="en">
<%- include("./components/head.ejs") %>
<body class="bg-[#001058]" hx-get="/admin/orders" hx-swap="outerHTML" hx-target="#orders-slot" hx-trigger="load" hx-include="[name='init-slot']">
<%- include("./components/header.ejs") %>
<main class="py-4">
    <section class="mb-2 mx-1 flex justify-end">
        <input type="text" class="px-2 py-1" placeholder="#Cari ID Pesanan" name="id" hx-get="/admin/orders"
               hx-include="[name='id']" hx-swap="outerHTML" hx-target="#orders-slot" hx-trigger="keyup">
    </section>
    <section id="orders-slot" class="py-2 flex flex-col items-center">
        <input type="hidden" name="init-slot" value="1">
        <p class="my-4 text-[#FFBF1B] font-medium text-xl">Loading ...</p>
    </section>
</main>
<%- include("./components/footer.ejs") %>
<script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
</body>
</html>