<footer class="flex flex-col gap-10 bg-[#FFBF1B] px-8 md:px-36 pb-24 md:pb-14 py-14">
    <div class="flex flex-col lg:flex-row justify-between lg:items-center w-full gap-6">
        <div class="lg:w-4/12">
            <img src="/public/logo.png" class="w-full" alt="">
            <p>Pangkas rambut Al-Mubarok merupakan pangkas rambut menggunakan alat cukur yang modern.</p>
        </div>
        <aside class="flex flex-col lg:flex-row gap-4">
            <div class="flex flex-col gap-2">
                <h2 class="font-black text-2xl">Tentang</h2>
                <a href="#">Syarat dan ketentuan</a>
                <a href="#">Kebijakan privasi</a>
                <a href="#">Hak cipta</a>
                <a href="#">Tentang kami</a>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="font-black text-2xl">Customer Service</h2>
                <a href="#">FAQs</a>
                <a href="#">Hubungi kami</a>
                <a href="#">Pusat bantuan</a>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="font-black text-2xl">Ikuti Kami</h2>
                <a href="#">@barbershop_almubarok</a>
                <a href="#">0812-1111-2222</a>
                <a href="#">barbershop mubarok@gmail.com</a>
            </div>
        </aside>
    </div>
    <p>© Copyright 2023. All Rights Reserved by Al-Mubarok</p>
</footer>