<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Barber | <%= title %></title>
    <meta name="description" content="Website untuk melakukan booking tukang cukur secara online pada tempat cukur Al-Mubarok Miftahul ulum">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="canonical" href="https://almubarok-miftahululu.id">
</head>