<div id="<%= slot_id %>" hx-get="<%= endpoint %>" hx-swap="outerHTML" hx-target="this" hx-include="[name='cursor']" hx-trigger="every 5s" class="py-2 flex flex-col items-center">
    <p class="my-4 text-[#FFBF1B] font-medium text-xl">Loading ...</p>
</div>