<div class="w-1/3 md:w-1/4 xl:w-1/6 p-1">
    <label id="schedule-<%= schedule.id %>"
           class="block <% if(schedule.active && schedule.Order.length === 0){ %>bg-white cursor-pointer<% }else{ %>bg-[#FF1D1D] text-white cursor-not-allowed<% } %> px-2 py-1 rounded-full text-center border-2">
        <input type="radio" name="schedule" class="hidden"
               <% if(schedule.active && schedule.Order.length === 0){ %>onchange="toggleSchedulePill(<%= schedule.id%>)" <% }else{ %>disabled
                <% } %>
        >
        <%- include('../helper/time_format.ejs', {time: new Date(schedule.shift.start)}) %>
    </label>
</div>
